<footer style="text-align: center;background-color: #fff3cd;padding: 20px; max-height:100vh;">
    <p>made by: <strong>Ribeiro Bautista</strong> | <span>email: <strong>ribeirobautista02@gmail.com</strong></span> | <span>Numero de telefono: <strong>+54 9 11 2181-3956</strong></span></p>
</footer>